APP_NAME=HMS API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/hms
FRONTEND_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://sahidul2866.github.io
LOG_LEVEL=INFO
AUTO_DB_BOOTSTRAP=false
ORTHANC_BASE_URL=http://localhost:8042
ORTHANC_USERNAME=orthanc
ORTHANC_PASSWORD=orthanc
ORTHANC_DICOMWEB_ROOT=/dicom-web
DICOM_VIEWER_BASE_URL=http://localhost:8080
MACHINE_INTEGRATION_KEY=change-this-machine-key
# Optional override template placeholders:
# {study_uid}, {orthanc_study_id}, {orthanc_base_url}, {orthanc_dicomweb_root}, {orthanc_dicomweb_url}
# DICOM_VIEWER_URL_TEMPLATE=http://localhost:8080/?StudyInstanceUID={study_uid}&orthanc={orthanc_base_url}
