APP_NAME=HMS API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/hms
FRONTEND_ORIGINS=http://localhost:4200,http://127.0.0.1:4200,https://sahidul2866.github.io
LOG_LEVEL=INFO
AUTO_DB_BOOTSTRAP=false
